<div class="modal fade" id="modalVerMais" tabindex="-1" role="dialog" aria-labelledby="modalVerMais" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Tem certeza que deseja ir para a tela?</p>
        <div>
          <button type="button" class="btn btn-purple mr-4" data-dismiss="modal">NÃO</button>
          <button type="button" class="btn btn-purple" data-dismiss="modal">SIM</button>
        </div>
      </div>
    </div>
  </div>
</div>