.result-search {
  padding: 5%;
}

.result-search h4 {
  padding: 0.5em 0;
  font-weight: bold;
  color: #999;
  font-size: 1.2rem;
}

.no-results {
  padding-top: 10%;
}

.no-results h4 {
  color:#bbb;
  padding-top: 5px;
}
